
html, body {
    /* prevent horizonal scrolling */
    max-width: 100%;
    /* prevent overscroll bounce */
    overscroll-behavior:none;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.hide{
    display: none;
}

/* Nav bar */
.navbar{
    height: 110px;
    background-color: white;
    box-shadow: 0 0.3rem 0.6rem -0.6rem rgba(0, 0, 0, 0.4);
    padding: .5rem 6rem;
}

a.nav-link {
    color: #7da3ef;
}
li.nav-item {
    padding: 10px;
}


.page{
    height: 100%;
    margin: 0 auto;
}

.col{
    float:left;
}

.page-left-sidebar{
    margin-top: 150px;
    width: 25%;
    position: fixed;
    top: 0;
    bottom: 0;
}

.page-body{
    width:50%;
    margin-top: 150px;
    padding-left: 270px;
    padding-bottom: 100px;
}


.page-right-sidebar{
    margin-top: 150px;
    padding-left: 800px;
    width: 25%;
    position: fixed;
    top: 0;
    bottom: 0; 
}






/*  Sidebar  */

.sticky-offset {
    top: 56px;
}

.sidebar-subHeading{
    padding: 0px 0px 0px 35px;
    color: #717a81;
}


/*  Main Docs Body */
.content{
    top: 113px;
    position: relative;
}


.attributeTable{
    padding:10px;
}

.attributeRow{
    padding:10px;
}

.table thead th {
    border-bottom: 2px solid #636465;
    color: #212528;
    font-weight: 500;
}

.table td, .table th {
    color: #5d5d5d;
    font-weight: 200;
}






@media (min-width: 1200px){
.container {
    max-width: 1600px;
}
}


