
html, body {
    height: 100%;
    /* prevent horizonal scrolling */
    max-width: 100%;
    /* prevent overscroll bounce */
    overscroll-behavior:none;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #676767;
    position: relative;
    font-weight: 300;
    background-color: #f7f7f7;
}

.content{
    background-color: #FFFFFF;
    padding: 10px 45px 35px 45px;
    box-shadow: 0 1px 2px 0 rgba(60,63,67,.35), 0 1px 3px 1px rgba(60,63,67,.15);
    -webkit-box-shadow: 0 1px 2px 0 rgba(60,63,67,.35), 0 1px 3px 1px rgba(60,63,67,.15);

}

.hide{
    display: none;
}

/* Nav bar */
.navbar{
    height: 92px;
    background-color: white;
    box-shadow: 0 0.3rem 0.6rem -0.6rem rgba(0, 0, 0, 0.4);
    padding: 0px;
}

.site-logo{
    width: 235px;
}

.navbar-dark .navbar-nav .nav-link{
    color: #676767; 
}
.navbar-dark a.topNav.nav-link.active {
    color: #3478f5;
}

a.nav-link {
    color: #676767;
}
/*
a.nav-link {
    color: #7da3ef;
}
*/

a.topNav.nav-link {
    font-size:19px;
    font-weight: 300;
}

a.topNav.nav-link.active {
    color: #3478f5;
    border-bottom: solid 2px #3478f5;
}

a#navbarDropdown {
    padding: 17px 0px 0px 0px;
    font-size: 17.5px;
}

li.nav-item {
    padding: 10px;
}

a#navbarDropdown{
    color: #676767;
}

a#navbarDropdown:hover{
    color: #545454;
}

.dropdown-item{
    color: #676767;
}

.dropdown-item.active, .dropdown-item:active {
    color: #6a9bf7;
    background-color: transparent;
}


.col{
    float:left;
}


.page{
    margin-top: 110px;
    padding: 10px 0px;
}





/*  Sidebar  */

.sidebar-left-wrapper{
    position: relative;
    max-width: 271px;
}
.sidebar-left{
    position: fixed;
    overflow-y: scroll;
    margin-top: 130px;
    top: 0;
    bottom: 0;
    max-width: inherit;
    width: 100%;
    list-style: none;
    padding-right: 25px;
}

li.sideL.nav-item {
    padding: 5px 20px 5px 10px;
}

.sideL a.nav-link {
    font-size: 17.5px;
    font-weight: 400;
}

.sideL a.nav-link.sidebar-subHeading {
    font-size: 15px;
}

.sideL a.nav-link.active {
    background-color: #f8f8f8;
}

.nav-link.active span {
    border-bottom: 2px solid #3378f5;
    padding-bottom: 3px;
}

a.nav-link.active {
    color: #2767d9;
}

.carrot-down{
    font-size:10px;
    padding: 2px;
}

.sidebar-right-wrapper{
    position: relative;
    max-width: 271px;
}
.sidebar-right{
    position: fixed;
    margin-top: 135px;
    top: 0;
    max-width: inherit;
    width: 100%;
    padding-right: 45px;
}

li.sideR.nav-item {
    padding: 0px 10px;
}

.sidebarButton{
    display: none;
}


/* right sidebar highlighting */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #1258d6;
    background-color: #d0ddf9;
}


/* Hide scrollbar */
.sidebar-left::-webkit-scrollbar { 
    width: 0 !important;
}
.sidebar-left{
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.sidebar-subHeading{
    padding: 0px 0px 0px 35px;
    color: #717a81;
}





/*  Main Docs Body */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-weight: 100;
}

.content > h1, .content > h2, .content > h3, .content > h4, .content > h5 {
    padding-top: 25px;
}

.attributeTable{
    padding:10px;
}

.attributeRow{
    padding:10px;
}

.table thead th {
    border-bottom: 2px solid #636465;
    color: #212528;
    font-weight: 500;
}

.table td, .table th {
    color: #5d5d5d;
    font-weight: 200;
}


.footer-wrapper{
    margin: 150px 0px 20px 0px;
    max-height: 200px;
    height: 100%;
    padding: 0px 100px;
}

.footer-section-content {
    color: #6a6a6a;
    list-style: none;
}


/* Syntax Highlighting - Prettify*/
pre.prettyprint.prettyprinted {
    border: none;
    background-color: #f8f8f8;
    padding: 20px 40px 20px 40px;
}

span.tag {
    color: #993a92;
}

span.atn, span.pun{
    color: #9b4901;
}

span.atv{
    color: #0f58d6;
}

.sidebarButton {
    color: white;
    border: 2px solid #85a9ef;
    background: #85a9ef;
}

@media (min-width: 1200px){
.container {
    max-width: 1600px;
}
}


@media (max-width: 768px) { 
    .sidebar-right-wrapper{
        display:none;
    }
    .sidebar-left {
        position: relative;
        margin-top: 0px;
    }
    .container {
        width: 100%;
        padding-left: 0px;
        padding-right:0px;
    }
    .footer-wrapper {
        margin: 30px 0px 20px 0px;
    }
    .phone-email-footer {
        display: none;
    }
    .footer-section-content {
        margin-bottom: 20px;
        padding-left: 30px;
    }
    pre.prettyprint.prettyprinted {
        padding: 20px 40px 20px 10px;
    }
    .navbar-dark .navbar-toggler {
        color: #7da3ef;
        border-color: #7da3ef;
        padding: 0px;
        margin-right: 35px;
        margin-bottom: 5px;
        width: 45px;
        background-color: #8daef0;
        height: 40px;
    }
    .navbar-toggler-icon {
        color: #7da3ef;
        background-color: #83a7ef;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #6b6b6b;
    }
    .navbar-collapse {
        background-color: white;
    }
    .navbar-dark a.topNav.nav-link.active {
        color: #3478f5;
        font-weight: 500;
    }
    .sidebarButton{
        display: block;
        margin:0px auto;
    }
    .sidebar-left-wrapper {
        position: relative;
        max-width: 500px;
        padding: 0px;
    }
    ul#left-nav-sidebar {
        margin: 0px auto;
    }
    .sideL a.nav-link.active {
        background-color: transparent;
    }
    a.nav-link.active {
        color: #85a9ee;
    }
    .nav-link.active span {
        border-bottom: none;
        padding-bottom: 0px;
    }
    .navbar-brand {
        padding-bottom: 0px;
    }
    .navbar{
        box-shadow: none;
    }

 } 




@media (min-width: 992px){
.side-bar-show .navbar-collapse {
    display: -ms-block!important;
    display: block!important;
}
 }

