<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="A web component with a Customizable number input field with increse and decrease buttons.">
  <meta name="author" content="Jay Jay Web Components">
  <meta name="theme-color" content="#7da3ef">
  <title>Jay Jay Docs | Web Component Documentation</title>
  <!-- Core CSS -->
  <base href="{{#getUrlBase}}{{/getUrlBase}}">
  <base href="{{#getUrlBase}}{{/getUrlBase}}">
  <link rel="icon" href="resources/images/JJ_favicon_32.png" type="png" sizes="32x32">
  <link rel="icon" href="resources/images/JJ_favicon_16.png" type="png" sizes="16x16">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="resources/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400&display=swap" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#contentHeadings" data-offset="140">
  <div class="container">
    <!-- Navbar Partial-->
    {{> navbar lang='en' PageName='Get Started'}}

    <div class="container page">
      <div class="row">
        <!-- Left sidebar: -->
        <div class="col-md-2 col-sm-12 side-bar-show sidebar-left-wrapper">
          {{> left_sidebar lang='en' PageName='For Vue Developers' }}
        </div>

        <!-- Middle Content -->
        <div class="col-md-8 col-sm-12 content">
          <div class="anchor" id="jj-slider"></div>
          <h1>Getting Started for Vue developers</h1>
          <p>
            Using our components in your existing Vue application is very
            easy. All you need to do is to enable our components either
            through our npm package or simply use one of our CDN links.
          </p>
          <p> 
            If you would like to see our components in an existing Vue
            application we have created a demo Vue project which uses
            JJ-components below.
          </p>
          <a href="https://github.com/yiy142/jayjay-vue">https://github.com/yiy142/jayjay-vue</a>.
          <h2>
            Demo
          </h2>
          <p>
            The main points to recognize is that in out demo Vue project we
            use our CDN. In <code>jayjay-vue/public/index.html</code> we
            include the CDN to the JJ-components we wanted to import. This
            enables the entire application to use our components which can be
            seen in <code> jayjay-vue/src/components/HelloWorld.vue </code>
          </p>
      </div>

      <div class="col-md-2 col-sm-12 sidebar-right-wrapper">
        <!-- Right Sidebar -->
        <nav id="contentHeadings" class="sidebar-right">
          <ul class="nav nav-pills flex-column">
              <li class="sideR nav-item">
                <a class="nav-link" href="#jj-slider" data-target="#jj-slider">
                  Importing
                </a>
              </li>
              <li class="sideR nav-item">
                <a class="nav-link" href="#first-component" data-target="#first-component">
                  Default
                </a>
              </li>
              <li class="sideR nav-item">
                <a class="nav-link" href="#attributes" data-target="#attributes">
                  Attributes
                </a>
              </li>
            </ul>
          </nav>
          <!-- End Right Sidebar -->
        </div>
      </div>
    </div>

    <!-- Footer -->
    {{> footer lang='en'}}

    <!-- JS files at bottom of page -->
    {{> scripts}}

  </div>
</body>

</html>