
html, body {
    /* prevent horizonal scrolling */
    max-width: 100%;
    overflow-x: hidden;
    /* prevent overscroll bounce */
    overscroll-behavior:none;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.hide{
    display: none;
}

.top-header-text{
    text-align: center;
    padding: 160px;
    font-size: 55px;
    color: white;
}

/* Background Images */
.background-img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.section-header-text{
    padding: 100px 20px 20px 20px;
    font-size: 36px;
}

.exlargeHeight{
    height: 1050px;
}

.largeHeight{
    height: 777px;
}

.mediumHeight{
    height: 600px;
}

.bk1{
    background-image: url(./images/);
}

.bk2{
    background-image: url(./images/); 
}

.bk-white{
    background-color: white;
}

.bk-green{
    background-color: #80DED9;
}

.bk-blue{
    background-color:#2f3A66;
}

.bk-lightGrey{
    background-color:#fffefe;
}

.w100{
    width:100%;
}

.pos-fixed{
    position: fixed;
}


/* Nav Styles */
.onTop{
    z-index: 9;
}

.navStylesBefore{
    background-color: transparent;
}
.navStylesAfter{
    background-color: white;
    box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.4);
}

li.nav-item {
    padding: 10px 20px;
}

.navbar {
    padding: 10px 80px;
}


.nav-link {
    font-weight: 600;
}


.navbar.navBlue a.nav-link {
    color: #429eff;
}

.navbar.navWhite a.nav-link {
    color: white;
}






