
html, body {
    /* prevent horizonal scrolling */
    max-width: 100%;
    overflow-x: hidden;
    /* prevent overscroll bounce */
    overscroll-behavior:none;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.hide{
    display: none;
}

/* Nav bar */
.navbar{
    height: 110px;
    background-color: white;
    box-shadow: 0 0.3rem 0.6rem -0.6rem rgba(0, 0, 0, 0.4);
}

li.nav-item {
    padding: 10px;
}


/*  Sidebar  */
a.nav-link{
    color: #4c4d4e;
}
a.nav-link.active {
    color: #009688;
}

.sidebar-sticky {
    padding: 21px 0px;
}

h6.sidebar-heading {
    font-size: 19.5px;
    color:#717a81;
}

.sticky-offset {
    top: 56px;
}

.sidebar-subHeading{
    padding: 0px 0px 0px 35px;
    color: #717a81;
}


/*  Main Docs Body */
.content{
    top: 113px;
    position: relative;
}
main.docs-main {
    height: 650px;
}

.attributeTable{
    padding:10px;
}

.attributeRow{
    padding:10px;
}






@media (min-width: 1200px){
.container {
    max-width: 1600px;
}
}


