body, html {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
}

p {
    color: #8492a6;
    font-weight: 200;
}

/* Slider demo blocks */
.demo-block {
   border: 1px solid #ebebeb;
   border-radius: 3px;
   transition: .2s;
}
.demo-block .block {
   padding: 30px 24px;
   overflow: hidden;
   border-bottom: 1px solid #eff2f6;
}
.el-slider {
    font-family: Helvetica, Arial, sans-serif;
    float: right;
    width: 70%;
    margin-right: 20px;
}

/* Layout container */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}