<!DOCTYPE html>
    <head>
        <title>{{ComponentName}}</title>
    </head>
    <body>
        <h1>{{ComponentName}}</h1>
        <p>{{Description}}</p>
        <p>{{#list Attributes}}{{/list}}</p>
    </body>
</html>