<div class="container footer-wrapper"> 
  <div class="containter-fulid"> 
   <div class="row"> 
    <div class="center-block col-md-12 col-lg-12"> 
     <div class="row"> 
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4 col-md-pull-9 col-lg-pull-9"> 
       <div class="footer-section-content phone-email-footer"> 
        <img src="../resources/images/JayJay_logo.png" class="img-responsive"> 
       </div> 
      </div> 
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-md-push-3 col-lg-push-3"> 
       <div class="footer-section-content">
        <h3>Quick Links</h3>
        <li>item1</li>
        <li>item1</li>
        <li>item1</li>
        </ul> 
       </div> 
      </div> 
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-md-push-3 col-lg-push-3"> 
       <div class="footer-section-content mid-footer-col">
        <h3>Getting Started</h3>
        <ul> 
         <li>item1</li>
         <li>item1</li>
         <li>item1</li>
         <li>item1</li>
        </ul>
       </div>
      </div> 
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-md-push-3 col-lg-push-3 fmcol"> 
       <div class="footer-section-content">
        <h3>Docs</h3>
        <ul> 
            <li>item1</li>
            <li>item1</li>
            <li>item1</li>
            <li>item1</li>
        </ul>
       </div>
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
 </div>