<div class="container footer-wrapper"> 
      <div class="containter"> 
       <div class="row"> 
        
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-md-pull-9 col-lg-pull-9"> 
           <div class="footer-section-content phone-email-footer"> 
            <img src="{{Path}}resources/images/JayJay_logo.png" class="img-responsive"> 
           </div> 
          </div> 
    
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-md-push-3 col-lg-push-3"> 
           <ul class="footer-section-content">
            <h3>Quick Links</h3>
            <li>Home</li>
            <li>Get Started</li>
            <li>Team</li>
            </ul>
           </div> 
    
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-md-push-3 col-lg-push-3"> 
           <ul class="footer-section-content mid-footer-col">
            <h3>Docs</h3>
             <li>Getting Started</li>
             <li>Examples</li>
             <li>Components</li>
             <li>Release Notes</li>
            </ul>
          </div> 
    
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-md-push-3 col-lg-push-3 fmcol"> 
           <ul class="footer-section-content">
            <h3>FAQ</h3>
                <li>How does this work?</li>
                <li>Where can I learn more?</li>
                <li>Is this another example of an FAQ question?</li>
                <li>How do I get started?</li>
            </ul>
          </div> 
    
     
       </div> 
      </div> 
     </div>