<ul class="sidebar-left">

  <li class="sideL nav-item dropdown">
    <a class="nav-link" data-toggle="collapse" href="#collapseVersions" aria-expanded="false"
      aria-controls="collapseVersions">
      API: {{Version}} <span class="carrot-down">&#9660;</span>
    </a>
    <div class="collapse" id="collapseVersions">
      <a class="nav-link sidebar-subHeading {{#ifEquals '0.03' Version}}active{{/ifEquals}}" href="#">
        0.03
      </a>
      <a class="nav-link sidebar-subHeading {{#ifEquals '0.02' Version}}active{{/ifEquals}}" href="#">
        0.02
      </a>
      <a class="nav-link sidebar-subHeading {{#ifEquals '0.01' Version}}active{{/ifEquals}}" href="#">
        0.01
      </a>
    </div>
  </li>

  <li class="sideL nav-item">
    <a class="nav-link {{#ifEquals 'Overview' PageName}}active{{/ifEquals}}" href="#">
      Overview
    </a>
  </li>
  <li class="sideL nav-item">
    <a class="nav-link {{#ifEquals 'Tutorials' PageName}}active{{/ifEquals}}" href="#">
      Tutorials
    </a>
  </li>
  <li class="sideL nav-item">
    <a class="nav-link {{#ifEquals  'Components' PageName}}active{{/ifEquals}}" href="#">
      Components
    </a>
  </li>
  {{#each AllComponents}}
  <li class="sideL nav-item">
    <a class="nav-link sidebar-subHeading {{#ifEquals this.[0] PageName}}active{{/ifEquals}}"
      href="./{{this.[1]}}.html">
      {{this.[0]}}
    </a>
  </li>
  {{/each}}
</ul>