
 
    <ul class="sidebar-left">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <h6 class="sidebar-heading">
            <span>Get Started</span>
          </h6>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <h6 class="sidebar-heading">
            <span>Installation</span>
          </h6>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <h6 class="sidebar-heading">
            <span>Examples</span>
          </h6>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <h6 class="sidebar-heading">
            <span>Components</span>
          </h6>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <h6 class="sidebar-heading">
            <span>Get Started</span>
          </h6>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <h6 class="sidebar-heading">
            <span>Installation</span>
          </h6>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <h6 class="sidebar-heading">
            <span>Examples</span>
          </h6>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <h6 class="sidebar-heading">
            <span>Components</span>
          </h6>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <h6 class="sidebar-heading">
            <span>Get Started</span>
          </h6>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <h6 class="sidebar-heading">
            <span>Installation</span>
          </h6>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <h6 class="sidebar-heading">
            <span>Examples</span>
          </h6>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <h6 class="sidebar-heading">
            <span>Components</span>
          </h6>
        </a>
      </li>

      {{#each AllComponents}}
      <li class="nav-item">
        <a class="nav-link sidebar-subHeading {{#ifEquals this.[0] ../ComponentName}}active{{/ifEquals}}"
          href="./{{this.[1]}}.html">
          <h7>
            {{this.[0]}}
          </h7>
        </a>
      </li>
      {{/each}}
    </ul>