<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="./{{lang}}/index.html"><img class="site-logo" src="../resources/images/JayJay_logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="topNav nav-link {{#ifEquals 'Get Started' PageName}}active{{/ifEquals}}"
            href="./{{lang}}/docs/get-started">
            {{#ifEquals 'en' lang}}Get Started{{/ifEquals}}
            {{#ifEquals 'es' lang}}Empezar{{/ifEquals}}
            {{#ifEquals 'fr' lang}}Commencer{{/ifEquals}}
            {{#ifEquals 'zh' lang}}入门{{/ifEquals}}
          </a>
        </li>
        <li class="nav-item">
          <a class="topNav nav-link {{#ifEquals 'Docs' PageName}}active{{/ifEquals}}" href="./{{lang}}/docs/get-started">
            {{#ifEquals 'en' lang}}Docs{{/ifEquals}}
            {{#ifEquals 'es' lang}}Docs{{/ifEquals}}
            {{#ifEquals 'fr' lang}}Docs{{/ifEquals}}
            {{#ifEquals 'zh' lang}}文件{{/ifEquals}}
          </a>
        </li>
        <li class="nav-item">
          <a class="topNav nav-link {{#ifEquals 'Team' PageName}}active{{/ifEquals}}" href="./{{lang}}/team">
            {{#ifEquals 'en' lang}}Team{{/ifEquals}}
            {{#ifEquals 'es' lang}}Equipo{{/ifEquals}}
            {{#ifEquals 'fr' lang}}Équipe{{/ifEquals}}
            {{#ifEquals 'zh' lang}}团队{{/ifEquals}}
          </a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="topNav nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{#ifEquals 'en' lang}}Language{{/ifEquals}}
            {{#ifEquals 'es' lang}}Idioma{{/ifEquals}}
            {{#ifEquals 'fr' lang}}La langue{{/ifEquals}}
            {{#ifEquals 'zh' lang}}语言{{/ifEquals}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">English</a>
            <a class="dropdown-item" href="#">Español</a>
            <a class="dropdown-item" href="#">中文</a>
            <a class="dropdown-item" href="#">French</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/ucsd-cse112/team-12-components"><img
              src="../resources/images/github_logo.png"></a>
        </li>

      </ul>
    </div>
  </div>
</nav>