
  <div class="sidebar-right">
    <ul class="nav flex-column sticky-top sticky-offset">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <h6 class="sidebar-heading">
            <span><a href="#h1">Heading 1</a></span>
          </h6>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <h6 class="sidebar-heading">
            <span><a href="#h2">Heading 2</a></span>
          </h6>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <h6 class="sidebar-heading">
            <span><a href="#h3">Heading 3</a></span>
          </h6>
        </a>
      </li>
  
    </ul>
  </div>