button, p {
    display: inline-block;
}
input[type="number"] {
-webkit-appearance: textfield;
    -moz-appearance: textfield;
        appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none;
}
