button, p {
    display: inline-block;
}
input[type="number"] {
-webkit-appearance: textfield;
    -moz-appearance: textfield;
        appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none;
}

.input-number {
    display: inline;
    height: 40px;
    width: 200px;
}

.decrement-btn {
    margin: 0;
    width: 40px;
    height: 40px;
}

.increment-btn {
    width: 40px;
    height: 40px;
}
 
.input-field {
    width: 120px;
    height: 33px;
    text-align: center;
}