button, p {
    display: inline-block;
}

input[type="number"] {
-webkit-appearance: textfield;
    -moz-appearance: textfield;
        appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none;
}

.jj-input-number {
    display: inline-block;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    padding: 0px;
}

.border-blue {
    border-color: #75baff;
}

.color-blue {
    color: #75baff;
}

.decrement-btn {
    width: 20%;
    height: 100%;
    font-size: 14px;
    border: none;
    border-right: 1px solid #c2c2c2;
    border-radius: 5px;
    padding: 0px;
}

.increment-btn {
    width: 20%;
    height: 100%;
    font-size: 14px;
    border: none;
    border-left: 1px solid #c2c2c2;
    border-radius: 5px;
    padding: 0px;
}

.button-container {
    width:40%;
    height: 100%;
    float:right;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.increment-btn-2{
    width:100%;
    height:50%;
    font-size:14px;
    border:none;
    border-left:1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    border-radius: 5px;
    text-align: center;
    padding: 0px;
}

.decrement-btn-2{
    width:100%;
    height:50%;
    font-size:14px;
    border:none;
    border-left:1px solid #c2c2c2;
    border-radius: 5px;
    text-align: center;
    padding: 0px;
}
 
.input-field {
    width: 60%;
    height: 100%;
    font-size: 14px;
    text-align: center;
    border: none;
    padding: 0px;
}

.disabled {
    pointer-events:none;
    opacity: 0.4;
}

.small {
    width: 200px;
    height: 40px;
}

.large {
    width: 250px;
    height: 55px;
}
