<!doctype html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="A web component with a Customizable number input field with increse and decrease buttons.">
  <meta name="author" content="Jay Jay Web Components">
  <meta name="theme-color" content="#7da3ef">
  <title>Jay Jay Docs | Web Component Documentation</title>
  <!-- Core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../../resources/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400&display=swap" rel="stylesheet">
  <base href="{{#getUrlBase}}{{/getUrlBase}}">
</head>

<body data-spy="scroll" data-target="#contentHeadings" data-offset="140">
  <div class="container">
    <!-- Navbar Partial-->
    {{> navbar lang='zh' PageName='Docs'}}

    <div class="container page">
      <div class="row">
        <!-- Left sidebar: -->
        <div class="col-md-2 col-sm-12 side-bar-show sidebar-left-wrapper">
          {{> left_sidebar lang='zh' PageName='Overview' }}
        </div>

        <!-- Middle Content -->
        <div class="col-md-8 col-sm-12 content">
          <h1 id="h1">欢迎使用 JJ Components</h1>
          <p>
            这是JJ 网络组件库版本1.0.0。 最新组件包括：
          </p>

          <p>JJ Input Number</p>
          <p>
            <jj-input-number min="0" max="8" value="1" precision="2" step="0.5"></jj-input-number>
          </p>
          <p>
            JJ Slider<jj-slider style="padding: 100px" min="0" max="8" value="4"></jj-slider>
          </p>

          <p>
            更多组件即将推出。点击<a href="https://github.com/ucsd-cse112/team-12-components">这里</a>前往GitHub代码库。
          </p>

          <h2 id="h2">NPM</h2>
          <p>
            在项目根目录使用NPM安装库。 包含所有组件。
          </p>
          <pre class="prettyprint"><code class="language-html">npm i jj-components</code></pre>
          <h2 id="h3">CDN</h2>
          <p>
            如果想要使用某些组件，也可以使用CDN来安装。
          </p>
          <h5>JJ Input Number</h5>
          <pre
            class="prettyprint"><code class="language-html">&lt;script src="https://cdn.jsdelivr.net/gh/ucsd-cse112/team-12-components/packages/jj-input-number/jj-input-number.js">&lt;/script></code></pre>
          <h5>JJ Slider</h5>
          <pre
            class="prettyprint"><code class="language-html">&lt;script src="https://cdn.jsdelivr.net/gh/ucsd-cse112/team-12-components/packages/jj-slider/jj-slider.js">&lt;/script></code></pre>
        </div>

        <div class="col-md-2 col-sm-12 sidebar-right-wrapper">
          <!-- Right Sidebar -->
            <nav id="contentHeadings" class="sidebar-right">
              <ul class="nav nav-pills flex-column">
                <li class="sideR nav-item">
                  <a class="nav-link" href="#h1">
                    介绍
                  </a>
                </li>
                <li class="sideR nav-item">
                  <a class="nav-link" href="#h2">
                    NPM
                  </a>
                </li>
                <li class="sideR nav-item">
                  <a class="nav-link" href="#h3">
                    CDN
                  </a>
                </li>
              </ul>
            </nav>
            <!-- End Right Sidebar -->
        </div>
      </div>
    </div>

    <!-- Footer -->
    {{> footer lang='zh'}}

    <!-- JS files at bottom of page -->
    {{> scripts}}

  </div>
</body>

</html>