<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />

    <title>Jay Jay - Open Source Web Component Library</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400&display=swap" rel="stylesheet">
    <meta name="theme-color" content="#7da3ef">
    <!-- Bootstrap core CSS -->
    <base href="{{#getUrlBase}}{{/getUrlBase}}">
    <base href="{{#getUrlBase}}{{/getUrlBase}}">
  <link rel="icon" href="resources/images/JJ_favicon_32.png" type="png" sizes="32x32">
  <link rel="icon" href="resources/images/JJ_favicon_16.png" type="png" sizes="16x16">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="resources/css/main.css" />
    <link href="resources/css/index.css" rel="stylesheet" />
    <link href="resources/css/team.css" rel="stylesheet" />
</head>

<body id="homepage">
    {{> navbar lang='zh' PageName='Team'}}
    <div class="flex-container" id="members">


        <section class="section4" id="section4">
            <aside>
                <h2>Mingqi Shen</h2>
            </aside>

            <article class="grow">
                <details>
                    <summary class='click'>
                        <img src="resources/images/team/project1.png">
                    </summary>
                    <div class=details>
                        <p>Tools & Utilities</p>
                        
                    </div>
                </details>
            </article>
        </section>

        <section class="section2" id="section2">
            <aside>
                <h2>Alexander Behrmann</h2>
            </aside>

            <article class="grow">
                <details>
                    <summary class='click'>
                        <img src="resources/images/team/project2.png">
                    </summary>
                    <div class=details>
                        <p>Co-leader</p>
                        
                    </div>
                </details>
            </article>
        </section>

        <section class="section3" id="section3">
            <aside>
                <h2>Chris Synnott</h2>
            </aside>

            <article class="grow">
                <details>
                    <summary class='click'>
                        <img src="resources/images/team/project3.png">
                    </summary>
                    <div class=details>
                        <p>Quality Assurance</p>
                        
                    </div>
                </details>
            </article>
        </section>

        <section class="section1" id="section1">
            <aside>
                <h2>Shane Nielsen</h2>
            </aside>

            <article class="grow">
                <details>
                    <summary class='click'>
                        <img src="resources/images/team/project4.png">
                    </summary>
                    <div class=details>
                        <p>Team Leader</p>
                       
                    </div>
                </details>
            </article>
        </section>

        <section class="section5" id="section5">
            <aside>
                <h2>Nathaniel Nguyen</h2>
            </aside>

            <article class="grow">
                <details>
                    <summary class='click'>
                        <img src="resources/images/team/project5.png">
                    </summary>
                    <div class=details>
                        <p>Quality Assurance</p>
                        
                    </div>
                </details>
            </article>
        </section>

        <section class="section6" id="section6">
            <aside>
                <h2>Ryan Keng</h2>
            </aside>

            <article class="grow">
                <details>
                    <summary class='click'>
                        <img src="resources/images/team/project6.png">
                    </summary>
                    <div class=details>
                        <p>Coder</p>
                        
                    </div>
                </details>
            </article>
        </section>

        <section class="section7" id="section7">
            <aside>
                <h2>Beier Li</h2>
            </aside>

            <article class="grow">
                <details>
                    <summary class='click'>
                        <img src="resources/images/team/project7.png">
                    </summary>
                    <div class=details>
                        <p>Team Member</p>
                        
                    </div>
                </details>
            </article>
        </section>

        <section class="section8" id="section8">
            <aside>
                <h2>Yi Yang</h2>
            </aside>

            <article class="grow">
                <details>
                    <summary class='click'>
                        <img src="resources/images/team/project8.png">
                    </summary>
                    <div class=details>
                        <p>Team Member</p>
                        
                    </div>
                </details>
            </article>
        </section>

        <section class="section9" id="section9">
            <aside>
                <h2>Shaya Parsa</h2>
            </aside>

            <article class="grow">
                <details>
                    <summary class='click'>
                        <img src="resources/images/team/project9.png">
                    </summary>
                    <div class=details>
                        <p>Tools & Utilities</p>
                        
                    </div>
                </details>
            </article>
        </section>


        <section class="section10" id="section10">
            <aside>
                <h2>Ryan Yung</h2>
            </aside>

            <article class="grow">
                <details>
                    <summary class='click'>
                        <img src="resources/images/team/project10.png">
                    </summary>
                    <div class=details>
                        <p>Team Member</p>
                        
                    </div>
                </details>
            </article>
        </section>

        <section class="section11" id="section11">
            <aside>
                <h2>Martina Lofqvist</h2>
            </aside>

            <article class="grow">
                <details>
                    <summary class='click'>
                        <img src="resources/images/team/project11.png">
                    </summary>
                    <div class=details>
                        <p>Team Member</p>
                        
                    </div>
                </details>
            </article>
        </section>
    </div>

  {{> footer lang='zh'}}
  {{> scripts }}

  <!-- Graphs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

</body>

</html>