<!doctype html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="A web component with a Customizable number input field with increse and decrease buttons.">
  <meta name="author" content="Jay Jay Web Components">
  <meta name="theme-color" content="#7da3ef">
  <title>Jay Jay Docs | Web Component Documentation</title>
  <!-- Core CSS -->
   <base href="{{#getUrlBase}}{{/getUrlBase}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="resources/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400&display=swap" rel="stylesheet">
 
</head>

<body data-spy="scroll" data-target="#contentHeadings" data-offset="140">
  <div class="container">
    <!-- Navbar Partial-->
    {{> navbar lang='zh' PageName='Get Started'}}

    <div class="container page">
      <div class="row">
        <!-- Left sidebar: -->
        <div class="col-md-2 col-sm-12 side-bar-show sidebar-left-wrapper">
          {{> left_sidebar lang='zh' PageName='Tutorials' }}
        </div>

        <!-- Middle Content -->
        <div class="col-md-8 col-sm-12 content">
          <h1 id='h1'>教程</h1>
          <p>这里是使用JJ-Slider作为案例的教程</p>

          <h2>安装组件</h2>
          <p>
            先找到组件的CDN，然后复制粘贴到html文档的header之中。
          </p>
          <pre
            class="prettyprint"><code class="language-html">&lt;script src="https://cdn.jsdelivr.net/gh/ucsd-cse112/team-12-components/packages/jj-slider/jj-slider.js">&lt;/script></code></pre>
          <p>
            或者使用NPM安装整个库。
          </p>
          <pre class="prettyprint"><code class="language-html">npm i jj-components</code></pre>
          <p>现在组件已经安装完成！</p>

          <h2 id='h2'>Using your first component</h2>
          <p>
            来试试使用组件。
          </p>
          <p>
            使用组件和使用各种html元素并没有什么不同。
          </p>
          <pre class="prettyprint"><code class="language-html">&lt;jj-slider>&lt;/jj-slider></code></pre>
          <p>
            把组件放到任何地方。 应该显示出如下组建：
          </p>
          <jj-slider></jj-slider>
          <p>
            你成功了！
          </p>

          <h2 id='h3'>Change Attributes</h2>
          <p>
            现在来试试更改组件的设置。
          </p>
          <p>
            所有的设置都在这个文档。
            <a href="components/jj-slider.html">这里</a>
          </p>
          <p>
          </p>
          <p>
            假设你想要如下组建
          </p>
          <p>
            1. 区间0到8
          </p>
          <p>
            2. 初始值为4
          </p>
          <p>使用如下设置：</p>
          <p>
            1. <b>min</b> 和 <b>max</b> 来设置区间
          </p>
          <p>
            2. <b>value</b> 来设置初始值
          </p>
          <p>代码如下</p>
          <pre
            class="prettyprint"><code class="language-html">&lt;jj-slider min="0" max="8" value="4">&lt;/jj-slider></code></pre>
          <p>恭喜！</p>

          <jj-slider min="0" max="8" value="4"></jj-slider>
        </div>

        <div class="col-md-2 col-sm-12 sidebar-right-wrapper">
         <!-- Right Sidebar -->
            <nav id="contentHeadings" class="sidebar-right">
              <ul class="nav nav-pills flex-column">
                <li class="sideR nav-item">
                  <a class="nav-link" href="#h1" data-target="#h1">
                    安装
                  </a>
                </li>
                <li class="sideR nav-item">
                  <a class="nav-link" href="#h2" data-target="#h2">
                    默认
                  </a>
                </li>
                <li class="sideR nav-item">
                  <a class="nav-link" href="#h3" data-target="#h3">
                    设置
                  </a>
                </li>
              </ul>
            </nav>
            <!-- End Right Sidebar -->
        </div>
      </div>
    </div>

    <!-- Footer -->
    {{> footer lang='zh'}}

    <!-- JS files at bottom of page -->
    {{> scripts}}

  </div>
</body>

</html>